 *{
    box-sizing: border-box;
 }

 body{
    background-color: salmon;
    height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    background-color: aliceblue;
    padding: 30px 40px;
    border-radius: 15px;
    width: 350px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom:20px;
    position: relative;
}
.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border-radius: 4px;  
    border: 2px solid #f0f0f0;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
   outline: 0;
   border-color: #777;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control small{
    color:#e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}